@import '../../partials/variables';
@import '../../partials/keyframes';

.scroll-indicator {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.upper-left {
    z-index: 10;
    position: fixed;
    left: 30px;
    top: 30px;

    h1 {
        margin: 0 0 20px 0;
        font-size: 40px;

        span {
            color: $grey;
        }
    }
}

.lower-left {
    z-index: 10;
    position: fixed;
    left: 30px;
    bottom: 30px;
}

.lower-right {
    z-index: 10;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

button {
    border: 0;
    color: #fff;
    background: $gold;
    padding: 10px 20px;
    font-size: 22px;
    font-family: "Cinzel Decorative", cursive;
    box-shadow: 0 -1px 4px rgb(0 0 0 / 60%);
    cursor: pointer;
}