<div class="upper-left">
    <h1><span>Game</span>PortrAits</h1>
    <game-selector></game-selector>
</div>

<div class="lower-left" *ngIf="selectedGame">
    <image-upload></image-upload>
</div>

<ng-container *ngIf="hasImageSource">
    <div class="dimensions">
        <canvas id="canvas-main"></canvas>
    </div>

    <div class="lower-right">
        <button (click)="downloadImages()">Download Images</button>
    </div>
</ng-container>

<fa-icon [icon]="['fas', 'chevron-circle-down']" size="2x" class="scroll-indicator fa-blink" *ngIf="shouldShowScrollIndicator"></fa-icon>
