@import '../../partials/variables';

.drag-drop-upload {
    width: 275px; 
    height: 275px; 
    border: 2px dashed darken($light-grey, 20%);
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-flow: wrap column;

    label {
        cursor: pointer;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-flow: wrap column;
    }

    span {
        margin-top: 20px;
    } 
}

.drag-drop-upload__preview {
    padding: 10px;
    width: 255px;
    background: lighten($dark-grey, 10%);
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    span {
        margin: 0 15px;
        font-size: .8em;
        flex: 1 auto;
        overflow-wrap: anywhere;
    }

    a {
        cursor: pointer;
    }               
}

canvas#imageSource {
    width: 50px;
    height: 50px;
    margin: 0;
    border: 0;
    background: $dark-grey;
    box-shadow: none;
}

.paste-fetch {
    margin-top: 20px;
    display: flex;

    input {
        padding: 8px;
        flex: 1;
        background: #333;
        border: 0;
        color: #fff;
    }

    fa-icon {
        margin-left: 10px;
        cursor: pointer;
    }
}
