$dark-grey: #252525;
$med-grey: #333;
$grey: #666;
$light-grey: #ccc;

html,
body {
    color: $light-grey;
    background: $dark-grey;
    font-family: 'Lora', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    color: $light-grey;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3em;
    text-shadow: 0 4px 4px rgb(0 0 0 / 60%);
    letter-spacing: 2px;
}

h2 {
    font-family: 'Cinzel', serif;
    font-size: 2em;
    text-shadow: 0 4px 4px rgb(0 0 0 / 20%);
    letter-spacing: 2px;
}

h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    text-shadow: 0 4px 4px rgb(0 0 0 / 20%);
    letter-spacing: 2px;
}

.upper-left {
    z-index: 10;
    position: fixed;
    left: 2%;
    top: 4%;

    h1 {
        margin: 0 0 20px 0;
        font-size: 40px;

        span {
            color: $grey;
        }
    }
}

game-selector {
    div {
        cursor: pointer;
        margin: 10px 0;
        color: $grey;
        
        &:hover {
            color: $light-grey;
        }

        &.selected {
            color: $light-grey;
        }
    }

    h2 {
        margin: 0;
        font-size: 16px;
    }
}

.lower-left {
    z-index: 10;
    position: fixed;
    left: 2%;
    bottom: 4%;
}

.lower-right {
    z-index: 10;
    position: fixed;
    right: 2%;
    bottom: 4%;
}

image-upload {
    .drag-drop-upload {
        width: 275px; 
        height: 275px; 
        border: 2px dashed darken($light-grey, 20%);
        display: flex;
        align-items: center;
        justify-content: center;   
        flex-flow: wrap column;

        label {
            cursor: pointer;
            display: flex;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-flow: wrap column;
        }

        span {
            margin-top: 20px;
        } 
    }

    .drag-drop-upload__preview {
        padding: 10px;
        width: 255px;
        background: lighten($dark-grey, 10%);
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        span {
            margin: 0 15px;
            font-size: .8em;
            flex: 1 auto;
            overflow-wrap: anywhere;
        }

        a {
            cursor: pointer;
        }               
    }

    canvas#imageSource {
        width: 50px;
        height: 50px;
        margin: 0;
        border: 0;
        background: $dark-grey;
        box-shadow: none;
    }
}

// .dimensions {
//     position: absolute;
//     width: 60%;
//     right: 0;
// }

dimension {
    canvas {
        
    }
}