@import './partials/variables';

html,
body {
    color: $light-grey;
    background: $dark-grey;
    font-family: 'Lora', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

input,
input::placeholder {
    font-family: 'Lora', sans-serif;
}

h1 {
    color: $light-grey;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3em;
    text-shadow: 0 4px 4px rgb(0 0 0 / 60%);
    letter-spacing: 2px;
}

h2 {
    font-family: 'Cinzel', serif;
    font-size: 2em;
    text-shadow: 0 4px 4px rgb(0 0 0 / 20%);
    letter-spacing: 2px;
}

h3 {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    text-shadow: 0 4px 4px rgb(0 0 0 / 20%);
    letter-spacing: 2px;
    margin: 5px 0;
}
